body {
	background: rgb(220, 220, 220);
}

#title {
	text-align: center;
	font-family: 'lato', sans-serif;
	margin-top: 15%;
	font-size: 50px;
}

#searchBox_div {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 90%;
	height: 20%;
}

#searchBox {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 60%;

	border: none;
	border-bottom: solid 4px;
	border-color: rgb(150, 150, 150);
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: black;
	background-color: rgba(0, 0, 0, 0);

	outline: none;
	transition: 0.2s;
}

#searchBox:focus {
	left: 15%;
	width: 70%;
	border-color: rgb(80, 100, 240);
}

#quickTabDiv {
	position: absolute;
	width: 90%;
	height: 50%;
	top: 60%;
	left: 6%;
}

.quickTab {
	background-color: white;
	width: 15%;
	height: 48%;
	float: left;
	margin-left: 3.33%;
	margin-bottom: 4%;

	outline: solid 0px;
	outline-offset: 3px;
	outline-color: rgb(80, 100, 240);

	border: solid 3px;
	border-color: rgb(200, 200, 200);
}

.quickTab:hover {
	border-color: rgb(160, 160, 160)
}

.quickTab:focus {
	outline: solid 1px;
	outline-color: rgb(80, 100, 240);
	outline-offset: 3px;
}


#rightClick {
	z-index: 2;
	position: absolute;

	background-color: white;
	width: 230px;
	height: 300px;

	border-radius: 3%;
	display: none;
}

.BTN_menu {
	width: 100%;
	height: 20%;
	background-color: white;
	border: none;
	border-left: 4px solid;
	border-right: 4px solid;
	border-color: rgb(150, 150, 150);
	outline: none;
}

.BTN_menu:hover {
	border-color: rgb(90, 110, 240);
}

#Settings {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 60px;
	height: 60px;

	transition: 0.2s;
}

#Settings:hover {
	transform: rotate(45deg);
}
